<a href="https://colab.research.google.com/github/KakashiHataki-lab/RTA_DUF/blob/main/RTA_DUF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import csv

In [2]:
#Importar a 1ª Quinzena
from google.colab import files
uploaded = files.upload()

Saving 301Q0522-DUF.txt to 301Q0522-DUF.txt

In [3]:
# Copiar o nome do Arquivo corretamente
file1 = '301Q0522-DUF.txt'
with open(file1) as f:
    df1 = f.readlines()
len(df1)
print(file1)

301Q0522-DUF.txt

In [4]:
mes = file1[4:6]
ano = file1[6:8]
print('mes:',mes,'ano:',ano)

mes: 05 ano: 22

In [5]:
#Importar a 2 Quinzena
from google.colab import files
uploaded1 = files.upload()

Saving 302Q0522-DUF.txt to 302Q0522-DUF.txt

In [6]:
# Copiar o nome do Arquivo corretamente
file2 = '302Q0522-DUF.txt'
with open(file2) as f:
    df2 = f.readlines()
len(df2)

185328

In [7]:
for i in range(3):
  print(f'df1 {i} tem = {len(df1[i])} chr')  

print('---')
for i in range(3):
  print(f'df2 {i} tem = {len(df2[i])} chr')

df1 0 tem = 65 chr
df1 1 tem = 64 chr
df1 2 tem = 64 chr
---
df2 0 tem = 65 chr
df2 1 tem = 64 chr
df2 2 tem = 64 chr

In [8]:
# Correct first line indentation
if len(df1[0]) == 65:
  x = df1[0]
  x1 = x[1:]
  df1[0] = x1

for i in range(5):
  print(f' {i} is = {len(df1[i])}')  

if len(df2[0]) == 65:
  x = df2[0]
  x1 = x[1:]
  df2[0] = x1

for i in range(5):
  print(f' {i} is = {len(df2[i])}')

 0 is = 64
 1 is = 64
 2 is = 64
 3 is = 64
 4 is = 64
 0 is = 64
 1 is = 64
 2 is = 64
 3 is = 64
 4 is = 64

In [9]:
#Juntando os Dois Txt's
df= df1+df2
print(len(df))
len(df) == len(df1)+len(df2)

275576

True

In [10]:
#Create Lists for columns  / Empty pre-existing Lists
Lote = []
Rodovia = []
Km_Pedagio = []
Sentido_Praca = []
Dia = []
Mes = []
Ano = []
Hora = []
FormaDePagamento = []
Categoria = []
QuantidadePassagens = []
QuantidadeVeiculos = []
TarifaPraticada =[]
Arrecadacao = []
TarifaAvi =[]
ArrecadacaoDUF =[]

In [11]:
#segregando as linhas em colunas
for line in range(len(df)):
  rta = df[line]
  lote, rod, km, sentido, dia, mes, ano, hora, pgto, cat, qtd_passagens, qtd_veiculos, tarifa_praticada, arrecadacao, tarifa_avi, arrecadacao_duf = \
    rta[:2], rta[2:5], rta[5:11],rta[11:12], rta[12:14], rta[14:16], rta[16:20], rta[20:22], rta[22:23], rta[23:25], rta[25:29], rta[29:33], rta[33:40], rta[40:48], rta[48:55], rta[55:63]
  
  Lote.append(lote)
  Rodovia.append(rod)
  Km_Pedagio.append(km)
  Sentido_Praca.append(sentido)
  Dia.append(dia)
  Mes.append(mes)
  Ano.append(ano)
  Hora.append(hora)
  FormaDePagamento.append(pgto)
  Categoria.append(cat)
  QuantidadePassagens.append(qtd_passagens)
  QuantidadeVeiculos.append(qtd_veiculos)
  TarifaPraticada.append(tarifa_praticada)
  Arrecadacao.append(arrecadacao)
  TarifaAvi.append(tarifa_avi)
  ArrecadacaoDUF.append(arrecadacao_duf)

In [12]:
#Verificando se o tamanho das colunas são proporcionais
print(len(Lote))
print(len(Lote) == len(Rodovia) == len(Km_Pedagio))
print(len(Sentido_Praca) == len(Dia)== len(Mes))
print(len(Ano)== len(Hora) == len(FormaDePagamento))
print(len(Categoria) == len(QuantidadePassagens) == len(QuantidadeVeiculos))
print(len(TarifaPraticada) == len(Arrecadacao) == len(TarifaAvi) == len(ArrecadacaoDUF))

275576
True
True
True
True
True

In [13]:
#Transformando em df o Banco de Dados
lst = [Lote,Rodovia,Km_Pedagio,Sentido_Praca,Dia,Mes,Ano,Hora,FormaDePagamento,Categoria,QuantidadePassagens,QuantidadeVeiculos,TarifaPraticada,Arrecadacao,TarifaAvi,ArrecadacaoDUF]
df = pd.DataFrame(lst)

In [14]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,275566,275567,275568,275569,275570,275571,275572,275573,275574,275575
0,30,30,30,30,30,30,30,30,30,30,...,30,30,30,30,30,30,30,30,30,30
1,225,225,225,225,225,225,225,225,225,225,...,425,425,425,425,425,425,425,425,425,425
2,106800,106800,106800,106800,106800,106800,106800,106800,106800,106800,...,436000,436000,436000,436000,436000,436000,436000,436000,436000,436000
3,L,L,L,L,L,L,L,L,L,L,...,S,S,S,S,S,S,S,S,S,S
4,01,01,01,01,01,01,01,01,01,01,...,31,31,31,31,31,31,31,31,31,31

In [15]:
#Transpondo o Banco de Dados
df = df.T
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,30,225,106800,L,01,05,2022,00,2,01,0000,0016,0000712,00011392,0000712,00011392
1,30,225,106800,L,01,05,2022,01,2,01,0000,0008,0000712,00005696,0000712,00005696
2,30,225,106800,L,01,05,2022,02,2,01,0000,0005,0000712,00003560,0000712,00003560
3,30,225,106800,L,01,05,2022,03,2,01,0000,0010,0000712,00007120,0000712,00007120
4,30,225,106800,L,01,05,2022,04,2,01,0000,0007,0000712,00004984,0000712,00004984

In [16]:
#Nomeando as colunas
df.columns = ['Lote','Rodovia','Km','Sentido','Dia','Mês','Ano','Hora','FormaPagamento', 'Categoria','Qtd_Passagens','Qtd_Veículos','TarifaPraticada','Arrecadacao','Tarifa_Avi','ArrecadacaoAVI']
df.head()

,Lote,Rodovia,Km,Sentido,Dia,Mês,Ano,Hora,FormaPagamento,Categoria,Qtd_Passagens,Qtd_Veículos,TarifaPraticada,Arrecadacao,Tarifa_Avi,ArrecadacaoAVI
0,30,225,106800,L,01,05,2022,00,2,01,0000,0016,0000712,00011392,0000712,00011392
1,30,225,106800,L,01,05,2022,01,2,01,0000,0008,0000712,00005696,0000712,00005696
2,30,225,106800,L,01,05,2022,02,2,01,0000,0005,0000712,00003560,0000712,00003560
3,30,225,106800,L,01,05,2022,03,2,01,0000,0010,0000712,00007120,0000712,00007120
4,30,225,106800,L,01,05,2022,04,2,01,0000,0007,0000712,00004984,0000712,00004984

In [17]:
df.info() #Total de Dados em cada coluna e uso de memória
#df.describe() # Unicidade dos Dados em cada coluna e uso de memória
print(df.dtypes)
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275576 entries, 0 to 275575
Data columns (total 16 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Lote             275576 non-null  object
 1   Rodovia          275576 non-null  object
 2   Km               275576 non-null  object
 3   Sentido          275576 non-null  object
 4   Dia              275576 non-null  object
 5   Mês              275576 non-null  object
 6   Ano              275576 non-null  object
 7   Hora             275576 non-null  object
 8   FormaPagamento   275576 non-null  object
 9   Categoria        275576 non-null  object
 10  Qtd_Passagens    275576 non-null  object
 11  Qtd_Veículos     275576 non-null  object
 12  TarifaPraticada  275576 non-null  object
 13  Arrecadacao      275576 non-null  object
 14  Tarifa_Avi       275576 non-null  object
 15  ArrecadacaoAVI   275576 non-null  object
dtypes: object(16)
memory usage: 33.6+ MB
Lote               object
Rodovia            object
Km                 object
Sentido            object
Dia                object
Mês                object
Ano                object
Hora               object
FormaPagamento     object
Categoria          object
Qtd_Passagens      object
Qtd_Veículos       object
TarifaPraticada    object
Arrecadacao        object
Tarifa_Avi         object
ArrecadacaoAVI     object
dtype: object
  Lote Rodovia      Km Sentido Dia Mês   Ano Hora FormaPagamento Categoria  \
0   30     225  106800       L  01  05  2022   00              2        01
1   30     225  106800       L  01  05  2022   01              2        01
2   30     225  106800       L  01  05  2022   02              2        01
3   30     225  106800       L  01  05  2022   03              2        01
4   30     225  106800       L  01  05  2022   04              2        01

  Qtd_Passagens Qtd_Veículos TarifaPraticada Arrecadacao Tarifa_Avi  \
0          0000         0016         0000712    00011392    0000712
1          0000         0008         0000712    00005696    0000712
2          0000         0005         0000712    00003560    0000712
3          0000         0010         0000712    00007120    0000712
4          0000         0007         0000712    00004984    0000712

  ArrecadacaoAVI
0       00011392
1       00005696
2       00003560
3       00007120
4       00004984

In [18]:
integers = ['Qtd_Passagens','Qtd_Veículos','TarifaPraticada','Arrecadacao','Tarifa_Avi','ArrecadacaoAVI']
df[integers] = df[integers].astype(int)

In [19]:
df['TarifaPraticada']=df['TarifaPraticada']/100
df['Arrecadacao']=df['Arrecadacao']/100
df['Tarifa_Avi']=df['Tarifa_Avi']/100
df['ArrecadacaoAVI']=df['ArrecadacaoAVI']/100
df.head()

,Lote,Rodovia,Km,Sentido,Dia,Mês,Ano,Hora,FormaPagamento,Categoria,Qtd_Passagens,Qtd_Veículos,TarifaPraticada,Arrecadacao,Tarifa_Avi,ArrecadacaoAVI
0,30,225,106800,L,01,05,2022,00,2,01,0,16,7.12,113.92,7.12,113.92
1,30,225,106800,L,01,05,2022,01,2,01,0,8,7.12,56.96,7.12,56.96
2,30,225,106800,L,01,05,2022,02,2,01,0,5,7.12,35.60,7.12,35.60
3,30,225,106800,L,01,05,2022,03,2,01,0,10,7.12,71.20,7.12,71.20
4,30,225,106800,L,01,05,2022,04,2,01,0,7,7.12,49.84,7.12,49.84

In [20]:
df['DiferencaAVI'] = df['Arrecadacao']-df['ArrecadacaoAVI']

In [21]:
#Agrupando os dados
grouped = df.groupby(['Rodovia','Km','Sentido','Qtd_Passagens','TarifaPraticada','Tarifa_Avi'])\
.agg({'Qtd_Veículos':[sum],'Arrecadacao':[sum,'count'], 'ArrecadacaoAVI':[sum],'DiferencaAVI':[sum]})

In [22]:
y = pd.DataFrame(grouped)
len(x)

65

In [26]:
print(file1)
print(file2)
filename = 'DUF_'+ano+'_'+mes+'.xlsx'
print('filename:',filename)

301Q0522-DUF.txt
302Q0522-DUF.txt
filename: DUF_2022_05.xlsx

In [23]:
#Exportando os dados sumarizados em excel
from google.colab import files

y.to_excel(filename)

In [24]:
files.download(filename)




***Below codes that might come in handy!!***